.centertext h2{
    color: #111;
    font-size: 28px;
    text-transform: capitalize;
    text-align: center;
    margin-bottom: 30px;
    font-weight: bold;
}
.centertext span{
    color: #EE1C47;
}
.products{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(260px, auto));
    gap: 2rem;
}
.row{
    position: relative;
    transition: all .40s;
}
.row .img{
    width: 100%;
    height: auto;
    transition: all .40s;
    margin-bottom: 10px;
}

.row .img:hover{
    transform: scale(0.9);
}
.producttext h5{
    position: absolute;
    top: 13px;
    left: 13px;
    color: #fff;
    font-size: 12px;
    font-weight: 500;
    text-transform: uppercase;
    background-color: #27b737;
    padding: 3px 10px;
    border-radius: 2px;
}
.hearticon{
    position: absolute;
    right: 0;
    font-size: 20px;
}
.hearticon:hover{
    color: #EE1C47;
}
.ratting{
    display: flex;
}
.ratestar{
    color: #FF8C00;
    font-size: 18px;
}
.price h4{
    color: #111;
    font-size: 16px;
    text-transform: capitalize;
    font-weight: 400;
}
.price p{
    color: #151515;
    font-size: 14px;
    font-weight: bold;
}