.checkout{
    margin-top: 4rem;
    
}
.btnAdd{
    margin-left: 10px;
    font-size: 14px;
    background-color: var(--color-primary);
    padding: 4px 10px;
    margin-bottom: 10px;
    color: #fff;
    border-radius: 5px;
}
.checkout form, .form{
    margin-top: 3rem;
    display: flex;
    flex-direction: column;
    text-transform: uppercase;
  width: 50%;
  background-color: #fff;
  padding: 3rem 2rem 2rem;
  border-radius: 10px;
  box-shadow: var(--box-shadow);
}
.checkout form h3, .form h3{
    text-align: center;
    font-weight: 700;
    font-size: 1.5rem;
}
.customInput {
  display: none; /* Hide the default file input */
}
.whatsapp{
    background-color: #25D366;
    padding: 5px 14px;
    border-radius: 5px;
    display: flex;
    gap: 10px;
    color: #fff;
    font-size: 1.2rem;
    margin: 10px 0px;
    cursor: pointer;
}
.customLabel {
    margin-bottom: 1rem;
  display: inline-block;
  padding: 10px 20px;
  background-color: var(--color-primary); /* Customize background color */
  color: white; /* Customize text color */
  border-radius: 5px;
  cursor: pointer;
}

.customLabel:hover {
  background-color: #0056b3; /* Change background on hover */
}

.checkout form h4, .form h4{
    text-align: center;
    margin-top: -6px;
    margin-bottom: 1rem;
    color: var(--color-primary)
}
.checkout form h2, .form h2{
    font-weight: 700;
    text-align: center;
    font-size: 2.3rem;
    color: #000;
    margin-bottom: 1rem;
}
.bankDetails{
    display: flex;
    justify-content: center;
    width: 100%;
}
.payment{
    font-size: 13px;
    flex: 1;
   
}
.acct{
    align-items: center;
    justify-content: center;
    display: flex;
    flex-direction: column;
    gap: 0.4rem;
    margin-bottom: 1rem;
}
.acct p{
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 1.2rem;
}
.acct p span{
    font-size: 0.9rem;
}
.btns{
    display: flex;
    gap: 1rem;
}


.imgsBank{
    display: flex;
    gap: 1rem;
    justify-content: center;
    align-items: center;
}
.bank{
    height: 100px;
    width: 200px;
    box-shadow: var(--box-shadow);
    cursor: pointer;
    transition: all 300ms;

    border-radius: 10px;
}
.bank:hover{
    box-shadow: none;
}

.placeOrder{
    width: 100%;
    margin-top: 0.5rem;
    background-color: #111;
    padding: 0.8rem 0px;
    border-radius: 5px;
    color: #fff;
    text-transform: uppercase;
}

/* components/Loading.module.css */
.loadingContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  
  
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 1000; /* Ensure it appears on top of other content */
}

.spinner {
  border: 8px solid rgba(0, 0, 0, 0.1);
  border-left-color: #0070f3; /* Color of the spinner */
  border-radius: 50%;
  width: 50px; /* Size of the spinner */
  height: 50px; /* Size of the spinner */
  animation: spin 1s linear infinite; /* Animation for spinning */
  margin-bottom: 20px; /* Space between spinner and text */
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

@media screen and (max-width: 768px){
    .checkout{
        margin-top: 7rem;
        width: 100%;
    }
    .form{
        width: 100%;
    }
    .checkout form{
        width: 100%;
       }
       .btns{
        flex-direction: column;
        gap: 0.2rem;
       }
       .bank{
        width: auto;
        height: 80px;
       }
}