.endtext{
    background-color: #111;
    text-align: center;
    padding: 20px;
    color: #e7e7e7;
    border-top: 1px solid rgb(255, 255, 255, 0.1);
}
.endtext p{
    text-transform: capitalize;
}

@media (max-width: 760px){
    .endtext p{
        font-size: 13px;
    }
}